RewriteEngine On

RewriteRule ^php/ - [L]
RewriteRule ^web-preview/ - [L]
RewriteRule ^api/(.*)$ php/api.php [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L,QSA]
RewriteRule ^$ web-preview/index.html [L]
RewriteRule ^(.*)$ web-preview/$1 [L]
